
<div style="height: 100%;">


  

  <nav class="menu" #mainsnav id="mainsnav">
          <a mat-button routerLink="/mymap" (click)="mainsnav.toggle()"> <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Our Map</a>
          <a mat-button routerLink="/" (click)="mainsnav.toggle()"> <i class="fas fa-edit"></i>&nbsp;&nbsp;Publications</a>
          <p class="section-heading" >Personal</p>
           <a mat-button  routerLink="/about"  (click)="snav.toggle()"><i class="fas fa-user "></i>&nbsp;&nbsp; About Us</a>
           <a mat-button    (click)="mainsnav.toggle()"><i class="far fa-comment-dots"></i>&nbsp;&nbsp; Feedback</a>
          
  </nav>



 <!--<p class="pwa">This app is Progressive Web App which means it can run offline and you can add it to homescreen.</p> {% endcomment %}
--> 



</div>