


<mat-carousel slides=3
[loop]='true'
[hideArrows]='false'>
  <mat-carousel-slide image='https://lh6.googleusercontent.com/proxy/LPVa1enyku2f8DwStNJGCrLXelyxqO260DBvRod9l1kuzIdKilC6UeZy2AQ7zipRszDobf3ENOF8zfTmUg66Mj_ns_LmCK7-Wf01tTzdvVJNiwEdIpjdSTP3aj5kN4o=s0-d'


  >
  <h2  >Let’s save the greenery for sustainable climate and humanity</h2>
    <a routerLink="/map"><h3 >Explore our project</h3></a>


  </mat-carousel-slide>

  <mat-carousel-slide image='https://images3.alphacoders.com/112/thumb-1920-112487.jpg'>
<h2 >Making KPK greener and Pakistan brighter</h2>
  </mat-carousel-slide>
  <mat-carousel-slide image='https://www.bestfunforall.com/better/imgs/Forest%20nice%20HD%20wallpaper%20%207.jpg'>

  <h2 > Advanced solutions to monitor and overcome deforestation</h2>


  </mat-carousel-slide>
</mat-carousel>


 <div class="slogan"><h3 style="margin: 0 auto;"> Save trees. Save Planet. Save Humanity</h3></div>

<div class="container" >


<p>Forests are like green gold of our country. Pakistan has lost a quarter of its natural
 forest cover over the past two decades and is currently experiencing a deforestation rate
  of 2 percent a year — one of the highest in the world. This in turn has, intensified the
  temperature, polluted the atmosphere, and worsened the lives of living beings. Pakistan is
  in a state of ‘Green Emergency’. The declining forestation calls
 for some immediate measures to monitor and take steps to preserve greenery in our homeland.</p>



</div>
<div class="stat">
<div class="col-4"><h5 style=" text-transform: none; margin-top:0%;">

  Deforested Land <br> </h5><h2  style=" text-transform: none; "> 150 million Hectares</h2>

</div>


<div class="col-4" ><h5  style=" text-transform: none; margin-top:0%">
  Restored Land <br></h5><h2  style=" text-transform: none;">384,000 Hectares</h2>

</div>
<div class="col-4"><h5 style=" text-transform: none; margin-top:0%">

  Trees Being Monitored <br> </h5><h2  style=" text-transform: none;"> 150 million Hectares</h2>

</div>




</div>

