h2{

    text-align: center; color:#ffffff; margin-top:8%;
    text-transform: uppercase;
}
h3{
    text-align: center; color:#ffffff; margin:10px auto;
    text-transform: uppercase;
}

h5{
  text-align: center; color:#ffffff;

}
.slogan{

  background-color:#333300;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 4%;
}
p{

    font: 15px/24px ,Verdana, Geneva, sans-serif;
    color: black;
    font-size: 20px;
}
.stat{


    background-color:#66663e;
    padding:2%;
    margin-bottom: 4%;
    box-sizing: border-box;
    align-content: center;
    overflow:hidden;
}
