<div style="min-height:90vh; width: 70%; " class="container my-container m-5 mx-auto" *ngIf="forest">
  <div class="row  my-row">



    <div class="col-7 my-col">
      <mat-tab-group class="header-less-tabs center-horizontal detail-card" [selectedIndex]="selected.value"
        (selectedIndexChange)="selected.setValue($event)">
        <mat-tab *ngFor="let tab of imagearray; let index = index">
          <!-- [label]="((index <= imagearray.length-2) ? +'2013' +index : 'Change Image')"> -->
          <mat-card >

            <mat-spinner class="centered-horizontal" diameter="40" *ngIf="loading"><iframe src="https://giphy.com/embed/swhRkVYLJDrCE" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/google-icon-loading-swhRkVYLJDrCE">via GIPHY</a></p></mat-spinner>
            <img mat-card-image  class="card" id="anidiv" src={{imagearray[index]}} *ngIf="!loading" alt="Photo of ">



          </mat-card>

        </mat-tab>
      </mat-tab-group>






    </div>
    <div class="col-5 my-col">




        <mat-card>
            <mat-card-content>
                <h1 style="align-self:centre">{{markerdetail.label}}</h1>

                <p>{{markerdetail.Disp}}</p>

              <h1>{{showyear}}
              </h1>


            </mat-card-content>



            <button mat-raised-button class="example-delete-tab-button" [disabled]="selected.value === 0"
              (click)="previous()" color="green">
              Back
            </button>
            <button mat-raised-button class="example-delete-tab-button" [disabled]="selected.value === imagearray.length -1"
            (click)="next()" color="accent" [disableRipple]="false">
            Next
          </button>

             <!-- <button mat-raised-button
               color="accent" [disableRipple]="false" >
              Animate
            </button> -->
          </mat-card>
       </div>

    <!-- <div class="col-md-12 col-sm-12 my-col">

      <mat-card class="example-card">

        <img mat-card-image [@.disabled]="isDisabled"  src={{imagesrc}} alt="Photo of a Shiba Inu" [@fade]="state"
          (@fade.done)="onAnimationDone($event)" onClick="animat()">

        <mat-card-actions>
          <button mat-button (click)="animat()">animate</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div> -->

  </div>









</div>



