
.image-container{

    padding: 10px
}
.detail-card{
   min-height: 70%;
   height: auto;
   margin: auto;
}

.my-container {
  border: 0px solid green;
  margin :20px;
  padding-left:2% ;
  background: white;

}
.my-row {
  border: 0px solid rgb(190, 34, 34);


}

.my-col {
  border: 0px dotted blue;
}
.header-less-tabs.mat-tab-group .mat-tab-header {
 display: none;
  }

  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }


  .myblock {
    background-color: green;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    margin: 5rem;
}

.card{
 border: 0px;
  background-image:"https://gph.is/2gESFHh"
}
.m-3{
margin :5px;
}

