<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0 ,height=device-height">
</head>

<body *ngIf="!loading">


  <!--this is toolbar-->
  <mat-toolbar class="toolbar app-toolbar" color="primary" (window:resize)="refresh()">
    <span class="header-padding"></span>
    <a *ngIf="isMobile" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </a>
    <!--<a  routerLink="/signin" *ngIf="!loggedIn">Sign In</a>-->
    <a *ngIf="!isMobile" routerLink="/">Our Map</a>
    <a *ngIf="!isMobile" routerLink="/publications">My Publications </a>
    <a *ngIf="!isMobile" routerLink="/about">About</a>
    <span style="flex: 1 0 auto;"></span>
    <a routerLink="/profile" *ngIf="loggedIn"><i class="fas fa-user "></i>{{ " "+username}} </a>
    <span class="header-padding"></span>
  </mat-toolbar>
  <mat-sidenav-container class="nav-container" autosize>
    <mat-sidenav #snav [(mode)]="sideNavMode" [(opened)]="sideNavOpened" fullscreen>
      <nav class="menu">
        <a mat-button routerLink="/" (click)="snav.toggle()"> <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Our
          Map</a>
        <a mat-button routerLink="/publications" (click)="snav.toggle()"> <i
            class="fas fa-edit"></i>&nbsp;&nbsp;Publications</a>
        <p class="section-heading">Personal</p>
        <a mat-button routerLink="/about" (click)="snav.toggle()"><i class="fas fa-user "></i>&nbsp;&nbsp; About Us</a>
        <a mat-button (click)="snav.toggle()"><i class="far fa-comment-dots"></i>&nbsp;&nbsp; Feedback</a>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
<footer>
  <mat-toolbar class="toolbar footer" color="primary" (window:resize)="refresh()" *ngIf="!loading">

    <span class="header-padding"></span>
    <!--<a  routerLink="/signin" *ngIf="!loggedIn">Sign In</a>-->
    <a>Footer 1</a>
    <a>Footer 2</a>
    <a>Footer 3</a>
    <span style="flex: 1 0 auto;"></span>
  </mat-toolbar>
</footer>
</body>

</html>


<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->