<mat-sidenav-container>
  <mat-sidenav id="mapsidenav" #mapsidenav>
    <nav class="menu">
      <a mat-button (click)="mapsidenav.toggle()" style="text-align:right;">Close &nbsp;&nbsp;</a>
      <h3>{{sidenavdata.label}} </h3>
      <p>{{sidenavdata.Disp}}</p>
      <p>this is id{{sidenavdata.id}}
      <a mat-button routerLink="/markerdetail/{{sidenavdata.type}}/{{sidenavdata.id}}">
        <i class="fas fa-tree"></i> &nbsp;&nbsp; Click for more Details</a>

    </nav>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="col-md-10" style="padding-left: 2px;padding-right: 0px; ">


      <agm-map id="AgmMap" (idle)="idle()" (centerChange)="centerChange($event)" [latitude]="lat" [longitude]="lng"
        [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true" (mapClick)="mapClicked($event)"
        (zoomChange)="handlezoomchange($event)">
        #AgmMap
        <agm-marker [visible]="anusdata" *ngFor="let m of mapdata; let i = index"
          (markerClick)="mapsidenav.toggle();clickedMarker(m,0)" [latitude]="m.polygon[0].lat -0.001"
          [longitude]="m.polygon[0].lng -0.001" [label]="" [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)" [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/green-dot.png'"
          (mouseOver)="mouseOver($event)">

          >


        </agm-marker>


        <agm-marker [visible]="anusdata" *ngFor="let m of mapdata2; let i = index"
          (markerClick)="mapsidenav.toggle();clickedMarker(m,1)" [latitude]="m.lat" [longitude]="m.lng" [label]=""
          [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)"
          [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'" (mouseOver)="mouseOver($event)">

          >


        </agm-marker>









        <agm-polygon *ngFor="let m of mapdata; let i = index" [paths]="m.polygon"
          (polyClick)="onPolyclick(m);mapsidenav.toggle()" [visible]="showpoly&& anusdata" [fillColor]="'#98FB98'">


        </agm-polygon>

        <agm-marker
        (markerClick)="mapsidenav.toggle();" [latitude]="26.4490"
        [longitude]="67.6424"
         [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
        (mouseOver)="mouseOver($event)">

        >

        </agm-marker>


        <agm-data-layer [geoJson]="geoJsonObject"  [style]="styleFunc">
        </agm-data-layer>

      </agm-map>



    </div>
    <div class="col-md-2">



    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
