

agm-map{
  height: 90vh;

  }
  #mapsidenav{
    width: 30%
  }


  .menu{
    max-width: auto;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
  }


  nav a{
    width: 100%;
    text-decoration: none;
    background-color: #eee;
  }
 nav p{
    width: 100%;
    text-decoration: none;
    background-color: rgb(233, 247, 234);
    text-align: justify;
    padding: 2px;
  }


  nav a{
    text-align: left;
    font-size: 120%;
    padding: 5px 10px;

  }
  /* nav *:visited, a:link {
  } */

  nav a.active {
    color: #039be5;
  }

